#contenedorclima {
    display: flex;
    text-align: center;
    justify-content: center;
    
    column-gap: 10px;
    
    height: 180px;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#caja1, #caja2, #caja3 {
    display: grid;
    text-align: center;
    padding: 2%;
    width: 170px;
    height: 180px;
}

#caja1 {
    background-color: rgba(0,0,0,0.767);
    color:azure;    
}
#caja2 {
    background-color: darkslateblue;
    color:azure;    
}
#caja3 {
    background-color: #2ab2ea;
    color:azure;    
}